$bodyBg: #F3F4FA;
// $bodyBg:  #24333C;
$mainBg: #fff;
// $mainBg:#1F1F23;
// $mainColor: #8624DB;
$mainColor:#00CAE3;
$txtColor: #4E4D4F;
// $txtColor: #F3F4FA;
$purple: #8624DB;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #DB190C;

$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1.125rem;
// $fontSizeNormal: 1.025rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 250px;
// $sideBarWidth: 384px; ORIGINAL
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
